.message {
  background: #fff;
  width: fit-content;
  margin: 0 auto;
  border-radius: 999px;
  position: relative;
  display: flex;
  margin-bottom: 50px;
  height: fit-content;
  max-width: 500px;
}
.message-content {
  padding: 5px 30px;
  display: flex;
  justify-content: space-around;
}
.message-content > p {
  position: absolute;
  left: -100px;
  color: #fff;
}
.message-content > small {
  margin-left: 50px;
}
